/* 
- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
 */

 body {
    font-family: 'Roboto', sans-serif;
}

h1{
    color:hsl(234, 29%, 20%) ;
    font-size: 60px;
}

p {
    font-weight: 400;
}

ul {
    list-style-type: none;
}

#success {
width: 16px ;
height: 16px ;
}

main {
    display:flex;
    justify-content: space-around;
}




/* 
font-weight: 700r;
font-size: 18px;
height: 40px;
width: 260px;
border-radius: 10px;
 */




button{
    background-color:hsl(234, 29%, 20%) ;
    color:hsl(0, 0%, 100%) ;
    height: 40px;
    width: 260px;
    border-radius: 10px;
    font-weight: 700;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }